<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>정보 수정</title>
</head>
<body>
<a th:href="@{/home}">home</a>
<h1>정보 수정</h1>
<form th:object="${user}" id="editForm">
    <input type="hidden" id="userId" name="userId" th:value="*{userId}">
    <label for="email">이메일 (수정 불가):</label><br>
    <input type="text" id="email" name="email" th:field="*{email}" readonly><br>
    <label for="name">이름:</label><br>
    <input type="text" id="name" name="name" th:field="*{name}"><br>
    <label for="nickname">닉네임:</label><br>
    <input type="text" id="nickname" name="nickname" th:field="*{nickname}"><br><br>
    <button id="editButton" type="button" onclick="formToJson()">수정</button>
</form>
<script th:inline="javascript">
    function formToJson() {
        var userId = document.getElementById('userId').value;
        var form = new FormData(document.getElementById('editForm'));
        var jsonData = {
            name: form.get('name'),
            nickname: form.get('nickname')
        };
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/user/edit/' + userId);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            if (xhr.status === 200) {
                alert('수정이 성공했습니다.');
                location.href = "/mypage";
            } else {
                alert('수정이 실패했습니다.');
                console.error('요청이 실패하거나 오류가 발생했습니다.');
                console.error('상태 코드:', xhr.status);
            }
        };
        xhr.send(JSON.stringify(jsonData));

    }
</script>
</body>
</html>