<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>메인 페이지</title>
    <meta charset="UTF-8"/>
</head>
<body>
<a th:href="@{/home}">home</a>
<br>
<br>
Logged in as: <span th:text="${user.name}"></span>&nbsp
<button id="mypage" th:onclick="'window.location.href=\'/mypage/edit\''">마이페이지</button>
<br>
닉네임: <span th:text="${user.nickname}"></span>&nbsp
<a href="/logout" class="btn btn-info active" role="button">Logout</a>
<br>
<br>
<a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
<br>
<br>
<a href="/posts" role="button" class="btn btn-primary">글 목록</a>
</body>
</html>