<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 목록</title>
</head>
<body>
<a th:href="@{/home}">home</a>
<br>
<h1>Posts</h1>
<div th:if="${posts.size() == 0}">
    <p>아무 글도 없습니다.</p>
</div>
<div th:if="${posts.size() != 0}">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>추천</th>
            <th>비추천</th>
            <th>조회수</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}"></td>
            <td><a th:href="@{/posts/{postId}(postId=${post.id})}" th:text="${post.title}"></a></td>
            <td th:text="${post.likes}"></td>
            <td th:text="${post.dislikes}"></td>
            <td th:text="${post.views}"></td>
            <td><a th:href="@{/posts/filter(writer=${post.writer})}" th:text="${post.writer}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
