<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${detail.title}"></title>
</head>
<body>
<a th:href="@{/home}">home</a>
<h1>상세정보</h1>
<div>
    <input type="hidden" id="userId" name="userId" th:value="${userId}">
    <input type="hidden" id="postId" name="postId" th:value="${postId}">
    <p>제목: <span th:text="${detail.title}"></span></p>
    <p>내용: <span th:text="${detail.content}"></span></p>
    <p>작성자: <span th:text="${detail.writer}"></span></p>
    <p>추천: <span id="likeCount" th:text="${detail.likes}"></span></p>
    <p>비추천: <span id="dislikeCount" th:text="${detail.dislikes}"></span></p>
    <p>조회수: <span th:text="${detail.views}"></span></p>
    <button id="likeButton">추천</button>
    <button id="dislikeButton">비추천</button>
    <br>
    <p>작성된 시간: <span th:text="${#dates.format(detail.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
    <p>수정된 시간: <span th:text="${#dates.format(detail.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
</div>
<script>
    const $likeButton = document.querySelector("#likeButton");
    const $dislikeButton = document.querySelector("#dislikeButton");
    $likeButton.addEventListener("click", () => {
        toggleLike(true);
    });
    $dislikeButton.addEventListener("click", () => {
        toggleLike(false);
    });
    const toggleLike = (isLike) => {
        fetch(isLike ? "/posts/like" : "/posts/dislike", {
            method: 'post',
            headers: {
                'Content-Type': 'application/json; charset: UTF-8'
            },
            body: JSON.stringify({
                userId: document.querySelector('#userId').value,
                postId: document.querySelector('#postId').value
            })
        }).then(response => {
            if (response.ok) {
                alert(isLike ? '추천했습니다.' : '비추천했습니다.');
                return response.json();
            } else {
                alert(isLike ? '이미 추천한 게시글입니다.' : '이미 비추천한 게시글입니다.');
                throw new Error('추천 또는 비추천에 실패하였습니다.');
            }
        }).then(data => {
            document.querySelector("#likeCount").textContent = data.likes
            document.querySelector("#dislikeCount").textContent = data.dislikes;
        }).catch(error => {
            console.error('에러:', error);
        });
    };
</script>
</body>
</html>
