<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 등록</title>
</head>
<body>
<h1>글 등록</h1>
<form th:object="${post}">
    <label for="title">제목:</label><br>
    <input type="text" id="title" name="title" th:field="*{title}" required><br>
    <label for="content">내용:</label><br>
    <textarea id="content" name="content" th:field="*{content}" required></textarea><br>
    <label for="writer">작성자:</label><br>
    <input type="text" id="writer" name="writer" th:value="${user.name}" readonly><br><br>
    <button id="postButton">등록</button>
</form>
<script>
    const $postButton = document.querySelector("#postButton")
    const data = event => {
        event.preventDefault();
        fetch("/posts/write", {
            method: 'post',
            headers: {
                'Content-Type': 'application/json; charset: UTF-8'
            },
            body: JSON.stringify({
                title: document.querySelector('#title').value,
                content: document.querySelector('#content').value,
                writer: document.querySelector('#writer').value
            })
        }).then(response => {
            if (response.ok) {
                alert('글이 등록되었습니다.');
                window.location.href = "/";
            } else {
                console.error('글 등록에 실패하였습니다.');
            }
        }).catch(error => {
            console.error('네트워크 에러:', error);
        });
    }
    $postButton.addEventListener("click", data);
</script>
</body>
</html>
