<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 목록</title>
</head>
<body>
<a th:href="@{/home}">home</a>
<br>
<h1>Posts</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Writer</th>
        <th>Views</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.content}"></td>
        <td th:text="${post.writer}"></td>
        <td th:text="${post.views}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
