<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${detail.title}"></title>
</head>
<body>
<a th:href="@{/home}">home</a>
<h1>상세정보</h1>
<div>
    <p>제목: <span th:text="${detail.title}"></span></p>
    <p>내용: <span th:text="${detail.content}"></span></p>
    <p>작성자: <span th:text="${detail.writer}"></span></p>
    <p>조회수: <span th:text="${detail.views}"></span></p>
    <br>
    <p>작성된 시간: <span th:text="${#dates.format(detail.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
    <p>수정된 시간: <span th:text="${#dates.format(detail.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
</div>
</body>
</html>
